---
title: "Providing Command Line support for Solid Workflows"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ruben Dedecker✉', 'https://www.rubendedecker.be/', 'https://pod.rubendedecker.be/profile/card#me' %>
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be/', 'https://pietercolpaert.be/#me' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#myaffiliation} Ghent University - imec.

</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div id="content">
  <%= section '0_abstract' %>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section '1_introduction' %>
  <%= section '2_authentication' %>
  <%= section '3_authorization' %>
  <%= section '4_suite' %>
  <%= section '5_conclusion' %>
</main>


<footer>
</footer>

<div class="footnotes">
  <hr />
  <p>✉ ruben.dedecker@ugent.be (Ruben Dedecker) 
  <p>The 2nd Solid Symposium Poster Session, co-located with the 3rd Solid Symposium, April 24 -- 25, 2025, Leiden, Netherlands</p>
  <p>© 2025 Copyright for this paper by its authors. Use permitted under Creative Commons License Attribution 4.0 International (CC BY 4.0).</p>
  <hr />